<h2>商品一覧</h2>
  </div>
    <%= link_to new_admin_item_path, class:"btn btn--circle btn--circle-c btn--shadow" do %>
    <% end %>
  </div>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><%= items.id %></td>
      <td><%= link_to admin_items_path(item.id) do %><u><%= items.name %></u></td>
      <% end %>
      <td><%= items.price_excluding_tax %></td>
      <td><%= items.genre.name %></td>
      <td>
        <% if items.status == true %>
          <p>販売中</p>
        <% else %>
          <p>販売停止中</p>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
