<%= stylesheet_link_tag "top_styles" %>
<div class="container login1">
  <div class="row">
    <h3 class="mb-5 mt-5 px-4" style="background-color: orange;">新規会員登録</h3>
  </div>
    <!--<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>-->
    <!--  <%= render "devise/shared/error_messages", resource: resource %>-->
    <!--  <div class= "row">-->
    <!--    <div class="col-la-4">-->
    <!--      <div class= "mr-5 mb-3">名前</div>-->
    <!--      <div class= "mr-5 mb-3" >フリガナ</div>-->
    <!--      <div class= "mr-5 mb-3" >メールアドレス</div>-->
    <!--      <div class= "mr-5 mb-2" >郵便番号(ハイフンなし)</div>-->
    <!--      <div class= "mr-5 mb-3" >住所</div>-->
    <!--      <div class= "mr-5 mb-2" >電話番号(ハイフンなし)</div>-->
    <!--      <div class= "mr-5 mb-3" >パスワード(6文字以上)</div>-->
    <!--      <div class= "mr-5 mb-2" >パスワード(確認用)</div>-->
    <!--    </div>-->
    <!--    <div class="col-la-8">-->
    <!--      <div class="field mb-1">-->
    <!--        <%= f.label :"(姓)"%>-->
    <!--        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "ml-3" %>-->
    <!--        <%= f.label :"(名)", class: "ml-5" %>-->
    <!--        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "ml-3" %>-->
    <!--      </div>-->

    <!--      <div class="field mb-2">-->
    <!--        <%= f.label :"(セイ)"%>-->
    <!--        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana"%>-->
    <!--        <%= f.label :"(メイ)", class: "ml-5" %>-->
    <!--        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana"%>-->
    <!--      </div>-->

    <!--      <div class="field mb-2">-->
    <!--        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "ml-5" %>-->
    <!--      </div>-->

    <!--      <div class="field mb-2">-->
    <!--        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "ml-5" %>-->
    <!--      </div>-->

    <!--      <div class="field mb-2">-->
    <!--        <%= f.text_field :address, size: "60x20", autofocus: true, autocomplete: "address", class: "ml-5" %>-->
    <!--      </div>-->

    <!--      <div class="field mb-2">-->
    <!--        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "ml-5" %>-->
    <!--      </div>-->

    <!--      <div class="field mb-2">-->
            <!--<% if @minimum_password_length %>-->
            <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
            <!--<% end %><br />-->
    <!--        <%= f.password_field :password, autocomplete: "new-password"%>-->
    <!--      </div>-->

    <!--      <div class="field mb-2">-->
            <!--<%= f.label :password_confirmation %><br />-->
    <!--        <%= f.password_field :password_confirmation, autocomplete: "new-password"%>-->
    <!--      </div>-->

    <!--      <div class="actions ml-5">-->
    <!--        <input type="submit" name="commit" value="新規登録" class="btn btn-sm btn-success" data-disable-with="Sign up">-->
    <!--      </div>-->
    <!--    </div>-->
    <!--<% end %>-->
    <!--  </div>-->
</div>
<form action="<%= customer_registration_path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group row mx-auto">
    <div class="col-sm-2"></div>
    <label for="name" class="col-sm-1 col-form-label">名前</label>
    <div class="col-sm-1 mr-3"></div>
    <label for="inputlast_name" class="col-sm-0 col-form-label">(姓)</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputlast_name" name="customer[last_name]" required>
    </div>
    <label for="inputfirst_name" class="col-sm-0 col-form-label ml-5">(名)</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputfirst_name" name="customer[first_name]" required>
    </div>
  </div>
  <div class="form-group row mx-auto">
    <div class="col-sm-2"></div>
    <label for="name_kana" class="col-sm-1 col-form-label">フリガナ</label>
    <div class="col-sm-1"></div>
    <label for="inputlast_name_kana" class="col-sm-0 col-form-label">(セイ)</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputlast_name_kana" name="customer[last_name_kana]" required>
    </div>
    <div class="col-sm-0 mr-5"></div>
    <label for="inputfirst_name_kana" class="col-sm-0 col-form-label">(メイ)</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputfirst_name_kana" name="customer[first_name_kana]" required>
    </div>
  </div>
  <div class="form-group row mx-auto">
    <div class="col-sm-2"></div>
    <label for="inputemail" class="col-sm-1 col-form-label">メールアドレス</label>
    <div class="col-sm-1 mr-5"></div>
    <div class="col-sm-2">
      <input type="email" class="form-control" id="inputemail" name="customer[email]" required>
    </div>
  </div>
  <div class="form-group row mx-auto">
    <div class="col-sm-2"></div>
    <label for="inputpostal_code" class="col-sm-2 col-form-label">郵便番号(ハイフンなし)</label>
    <div class="col-sm-0 mr-5"></div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputpostal_code" name="customer[postal_code]" required>
    </div>
  </div>
  <div class="form-group row mx-auto">
    <div class="col-sm-2"></div>
    <label for="inputaddress" class="col-sm-1 col-form-label">住所</label>
    <div class="col-sm-1 mr-5"></div>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputaddress" name="customer[address]" required>
    </div>
  </div>
  <div class="form-group row mx-auto">
    <div class="col-sm-2"></div>
    <label for="inputphone_number" class="col-sm-1 col-form-label">電話番号</label>
    <div class="col-sm-1 mr-5"></div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputphone_number" name="customer[phone_number]" required>
    </div>
  </div>
  <div class="form-group row mx-auto">
    <div class="col-sm-2"></div>
    <label for="inputpassword" class="col-sm-1 col-form-label">パスワード</label>
    <div class="col-sm-1 mr-5"></div>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="inputpassword" name="customer[password]" required>
    </div>
  </div>
  <div class="form-group row mx-auto">
    <div class="col-sm-2"></div>
    <label for="inputpassword_confirmation" class="col-sm-1 col-form-label">パスワードの確認</label>
    <div class="col-sm-1 mr-5"></div>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="inputpassword_confirmation" name="customer[password_confirmation]" required>
    </div>
  </div>
    <style>
    .custom-width {
      width: 250px;
    }
    </style>
    
    <div class="form-group row mx-auto">
      <div class="col-sm-4 mr-5"></div>
      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary custom-width">新規登録</button>
      </div>
    </div>
</form>
<div class="container">
  <div class="row">
    <h3 class="mb-5 mt-5 px-4" style="background-color: orange;">既に登録済みの方</h3>
  </div>
  <div class="row">
    <div class="col">
      <%= render "public/shared/links" %><span>からログインしてください。</span>
    </div>
  </div>
</div>