<div class="container">
  <div class="row">
    <h3 class="mb-5 mt-5 px-4" style="background-color: orange;">新規会員登録</h3>
  </div>
    <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class= "row">
        <div class="col-la-4">
          <div class= "mr-5 mb-3">名前</div>
          <div class= "mr-5 mb-3" >フリガナ</div>
          <div class= "mr-5 mb-3" >メールアドレス</div>
          <div class= "mr-5 mb-2" >郵便番号(ハイフンなし)</div>
          <div class= "mr-5 mb-3" >住所</div>
          <div class= "mr-5 mb-2" >電話番号(ハイフンなし)</div>
          <div class= "mr-5 mb-3" >パスワード(6文字以上)</div>
          <div class= "mr-5 mb-2" >パスワード(確認用)</div>
        </div>
        <div class="col-la-8">
          <div class="field mb-1">
            <%= f.label :"(姓)"%>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "ml-3" %>
            <%= f.label :"(名)", class: "ml-5" %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "ml-3" %>
          </div>
    
          <div class="field mb-2">
            <%= f.label :"(セイ)"%>
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana"%>
            <%= f.label :"(メイ)", class: "ml-5" %>
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana"%>
          </div>
          
          <div class="field mb-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "ml-5" %>
          </div>

          <div class="field mb-2">
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "ml-5" %>
          </div>
          
          <div class="field mb-2">
            <%= f.text_field :address, size: "60x20", autofocus: true, autocomplete: "address", class: "ml-5" %>
          </div>
        
          <div class="field mb-2">
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "ml-5" %>
          </div>
        
          <div class="field mb-2">
            <!--<% if @minimum_password_length %>-->
            <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
            <!--<% end %><br />-->
            <%= f.password_field :password, autocomplete: "new-password", class: "ml-5" %>
          </div>
        
          <div class="field mb-2">
            <!--<%= f.label :password_confirmation %><br />-->
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "ml-5" %>
          </div>
        
          <div class="actions ml-5">
            <input type="submit" name="commit" value="新規登録" class="btn btn-sm btn-success" data-disable-with="Sign up">
          </div>
         <% end %>
        </div>
      </div>
      <div class="row">
        <h3 class="mb-5 mt-5 px-4" style="background-color: orange;">既に登録済みの方</h3>
      </div>
<% end %>

<%= render "publics/shared/links" %>
</div>