
<%= form_with model: @order, url:'/order/confirm', method: :post do |f| %>
  <h3>注文情報入力</h3>
  
  <h5>支払い方法</h5>
  <div>
    <%= f.radio_button :payment_method, :credit_card, checked: true %>
    <%= f.label :payment_method_credit_card, "クレジットカード" %>
  </div>
  <div>
    <%= f.radio_button :payment_method, :transfer %>
    <%= f.label :payment_method_transfer, "銀行振込" %>
  </div>
  
  <h5>お届け先</h5>
  
  <lavel>郵便番号(ハイフンなし)</lavel>
  <%= f.text_field :postal_code, placeholder:"0000000" %>
  
  <lavel>住所</lavel>
  <%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0" %>
  
  <lavel>宛名</lavel>
  <%= f.text_field :name, placeholder:"令和道子" %>
  
  <%= f.submit '確認画面へ進む' %>
  
<% end %>