<div class="container">
  <div class="row">
    <%= render 'genre' %>
    
      <h2>商品一覧(全<%= @items_all.count %>件)</h2>
  </div>
        
      <% @items.each do |item|%>
      
      <%= link_to item_path(item) do%>
        <p><%= image_tag item.get_image,size: "250x220" %></p>
      <% end %>
      <p><%= item.name %></p>
        <% if item.is_active == true %>
            <p><%= item.price %>円(税抜き)</p>
          <% else %>
            <p>販売停止中</p>
          <% end %>
      <% end %>
      <%= paginate @items %>
      
</div>
