<div class="container-fluid">
  <div class="row mt-5">
    
    <%= render 'genre' %>
    
    <div class="col-md-4 mx-auto">
      <p><%= image_tag @item.get_image,size: "250x220" %></p>
    </div>
    
    <div>
      <h2><strong><%= @item.name %></strong></h2>
      <h4><%= @item.introduction %></h4>
      <%  if @item.is_active == true %>
        <p>販売中</p>
        <h3>¥ <%= @item.add_tax_price %> (税込)</h3>
          <p>
            <%= form_with model: @cart_item, local:true do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.number_field :amount, placeholder:"個数を選択"  %>
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            <% end %>
          </p>
      <% else %>
        <h3>販売停止中です</h3>
      <% end %>
    </div>
  </div>
</div> 

